<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% @coins["data"].each do |coin| %>
<%= coin["name"] %><br>
<%= coin["symbol"] %><br>
<%= coin["cmc_rank"] %><br>
<%= coin["quote"]["USD"]["price"] %><br><br>


<% end %>
